---
interface Props {
  id: string;
  name: string;
  label: string;
  svgPath: string;
  viewBox?: string;
  hoverColor?: string;
}

const { id, name, label, svgPath, viewBox = "0 0 448 512", hoverColor = "var(--clr-lightText)" } = Astro.props;
---

<div class="skill" id={`skill${id}`} style={`--hover-color: ${hoverColor}`}>
  <div class="skillContainer">
    <div class="skillImg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox={viewBox}>
        <path d={svgPath} />
      </svg>
    </div>
    <div class="skillText">
      <h3>{name}</h3>
      <p>{label}</p>
    </div>
  </div>
</div>

<style>
  .skill {
    padding: 1rem;
    display: flex;
    width: 100%;
    border: 1px solid #5f615b;
    border-radius: 0.75rem;
    box-shadow: 0 0 0 transparent;
    transition:
      border-color 0.4s cubic-bezier(0.5, 0.2, 0.5, 1),
      box-shadow 0.4s cubic-bezier(0.5, 0.2, 0.5, 1);
    cursor: default;
  }

  .skill:hover {
    border-color: var(--hover-color);
    box-shadow: 0 0 20px var(--hover-color);
  }

  .skill:hover svg {
    fill: var(--hover-color);
  }

  .skillContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .skillImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }

  .skillImg svg {
    fill: var(--clr-light);
    width: 3em;
    height: 100%;
    transition: fill 0.4s cubic-bezier(0.5, 0.2, 0.5, 1);
  }

  .skillText {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: start;
    margin-top: 5%;
  }

  .skillText p {
    margin: 0;
    color: #b2b4adc4;
    font-family: var(--ff-secondary);
  }
</style>
